<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{{ url_for('static', filename='crud-style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <title>Survey Kepuasan Masyarakat Dinas Kependudukan dan Pencatatan Sipil Kota Semarang</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

  <script>
    $(document).ready(function () {
      viewing();
    });


    function viewing() {
      $.ajax({
        type: "GET",
        url: "/datadiri?sample_give=halo!",
        data: {},
        success: function (response) {
          console.log(response)
        },
      });
    }

    function posting() {
      // let nama = $('#nama').val();
      let jenisKelamin = $('input[name="kelamin_give"]:checked').val();
      let umur = $('input[name="usia_give"]:checked').val();
      let pendidikan = $('input[name="pendidikan_give"]:checked').val();
      let pekerjaan = $('input[name="pekerjaan_give"]:checked').val();
      let pekerjaanLainnya = $('#pekerjaan-lainnya-input').val();
      $.ajax({
        type: "POST",
        url: "/datadiri",
        data: {
          // nama_give : nama,
          kelamin_give: jenisKelamin,
          usia_give: umur,
          pendidikan_give: pendidikan,
          pekerjaan_give: pekerjaan,
          pekerjaan_give: pekerjaanLainnya
        },
        success: function (response) {
          console.log(response)
          $('.alert-success').show();
          $('.alert-danger').hide();
        },
      });
    }
  </script>
  <!-- Modal Pop Up untuk Detail -->
  <script>
    $(document).ready(function () {
      // Menambahkan event listener untuk baris tabel
      $('tr.data-row').click(function () {
        // Ambil data dari baris yang diklik
        var layanan = $(this).find('td:eq(1)').text();
        var kritik = $(this).find('td:eq(2)').text();
        var saran = $(this).find('td:eq(3)').text();

        // tes
        var usia = $(this).find('.d-none').data('usia');
        var jenis_kelamin = $(this).find('.d-none').data('jenis_kelamin');
        var pendidikan = $(this).find('.d-none').data('pendidikan');
        var pekerjaan = $(this).find('.d-none').data('pekerjaan');
        var skor = $(this).find('.d-none').data('skor');
        var tanggal_dibuat = $(this).find('.d-none').data('waktu_dibuat');

        // Menetapkan nilai data ke dalam modal
        $('#modalContent').html('<p><strong>Jenis Layanan : </strong>' + layanan + '</p>' +
          '<p><strong>Kritik <tab>: </strong>' + kritik + '</p>' +
          '<p><strong>Saran: </strong>' + saran + '</p> <hr>' +
          '<h5><strong>Biodata Responden</strong>' + '</h5>' +
          '<p><strong>Jenis Kelamin: </strong>' + jenis_kelamin + '</p>' +
          '<p><strong>Usia: </strong>' + usia + '</p>' +
          '<p><strong>Pendidikan: </strong>' + pendidikan + '</p>' +
          '<p><strong>Pekerjaan: </strong>' + pekerjaan + '</p>' +
          '<p><strong>Skor: </strong>' + skor + '/100' + '</p>' +
          '<p><strong>Tanggal dan Waktu Dibuat: </strong>' + tanggal_dibuat + '</p>'
        );

        // Tampilkan modal dengan efek fadeIn
        $('#detailModal').fadeIn();
      });

      // Menutup modal saat tombol "Close" atau area di luar modal diklik
      $('.close').click(function () {
        $('#detailModal').css('display', 'none');
      });

      $(window).click(function (event) {
        if (event.target == $('#detailModal')[0]) {
          $('#detailModal').fadeOut();
        }
      });
    });

  </script>
</head>

<body>
  <!-- ?Sidebar Section -->
  <aside>
    <div class="toggle">
      <div class="logo">
        <img src="/static/images/LOGOCAPIL2.png">
        <h2>ADMIN<span class="primary">DUKCAPIL</span></h2>
      </div>
      <div class="close" id="close-btn">
        <span class="material-icons-sharp">
          close
        </span>
      </div>
    </div>

    <!--  !Dark Mode & Profile (Jangan diapus) -->
    <div class="right-section">
      <!-- <div class="nav">
        <button id="menu-btn">
          <span class="material-icons-sharp">
            menu
          </span>
        </button>
        <div class="dark-mode">
          <span class="material-icons-sharp active">
            light_mode
          </span>
          <span class="material-icons-sharp">
            dark_mode
          </span>
        </div>

        <div class="profile">
          <div class="info">
            <p style="margin: 0;">Hey, <b>Reza</b></p>
            <small class="text-muted">Admin</small>
          </div>
          <div class="profile-photo">
            <img src="/static/images/profile-dummy.png">
          </div>
        </div>

      </div> -->
      <!-- End of Nav -->
    </div>

    <div class="sidebar">
      <a href="/admin-page">
        <span class="material-icons-sharp">
          dashboard
        </span>
        <h3>Dashboard</h3>
      </a>
      <a href="/statistik_dashboard">
        <span class="material-icons-sharp">
          insights
        </span>
        <h3>Statistik</h3>
      </a>
      <a href="/form_dashboard" class="active">
        <span class="material-icons-sharp">
          receipt_long
        </span>
        <h3>Edit Form</h3>
      </a>
      <a href="/">
        <span class="material-icons-sharp">
          home
        </span>
        <h3>Home</h3>
      </a>
      <!-- <a href="#">
        <span class="material-icons-sharp">
          add
        </span>
        <h3>New Login</h3>
      </a> -->
      <a href="#">
        <span class="material-icons-sharp">
          logout
        </span>
        <h3>Logout</h3>
      </a>

    </div>
  </aside>
  <!-- ?End of Sidebar Section -->
  <div class="container">
    <!-- ?Form CRUD -->
    <div class="box-card">
      <h2>Jenis Layanan</h2>
      <form id="serviceForm">
        <input type="text" name="service_name" placeholder="Masukkan Jenis Layanan">
        <button type="submit">Add</button>
      </form>
      <div id="message"></div>
      <ul id="serviceList">
        {% for service in services %}
        <li>
          <span class="serviceName">{{ service.name }}</span>
          <button class="editBtn" data-id="{{ service._id }}">Edit</button>
          <button class="deleteBtn" data-id="{{ service._id }}">Delete</button>
          <form class="editForm" style="display: none;">
            <input type="text" name="edited_name" value="{{ service.name }}">
            <button type="submit">Save</button>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- !Jenis Kelamin -->
    <div class="box-card">
      <h2>Jenis Kelamin</h2>
      <form id="genderForm">
        <input type="text" name="gender_name" placeholder="Masukkan Jenis Kelamin">
        <button type="submit">Add</button>
      </form>
      <div id="message-gender"></div>
      <ul id="genderList">
        {% for gender in genders %}
        <li>
          <span class="genderName">{{ gender.name }}</span>
          <button class="editGenderBtn" data-id="{{ gender._id }}">Edit</button>
          <button class="deleteGenderBtn" data-id="{{ gender._id }}">Delete</button>
          <form class="editGenderForm" style="display: none;">
            <input type="text" name="edited_name" value="{{ gender.name }}">
            <button type="submit">Save</button>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- !Usia -->
    <div class="box-card">
      <h2>Usia</h2>
      <form id="ageForm">
        <input type="text" name="age_range" placeholder="Masukkan Rentang Usia">
        <button type="submit">Add</button>
      </form>
      <div id="message-age"></div>
      <ul id="ageList">
        {% for age in ages %}
        <li>
          <span class="ageRange">{{ age.range }}</span>
          <button class="editAgeBtn" data-id="{{ age._id }}">Edit</button>
          <button class="deleteAgeBtn" data-id="{{ age._id }}">Delete</button>
          <form class="editAgeForm" style="display: none;">
            <input type="text" name="edited_range" value="{{ age.range }}">
            <button type="submit">Save</button>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- !Pendidikan -->
    <div class="box-card">
      <h2>Pendidikan</h2>
      <form id="pendidikanForm">
        <input type="text" name="pendidikan_name" placeholder="Masukkan Pendidikan">
        <button type="submit">Add</button>
      </form>
      <div id="message-pendidikan"></div>
      <ul id="pendidikanList">
        {% for pendidikan in pendidikans %}
        <li>
          <span class="pendidikanName">{{ pendidikan.name }}</span>
          <button class="editPendidikanBtn" data-id="{{ pendidikan._id }}">Edit</button>
          <button class="deletePendidikanBtn" data-id="{{ pendidikan._id }}">Delete</button>
          <form class="editPendidikanForm" style="display: none;">
            <input type="text" name="edited_name" value="{{ pendidikan.name }}">
            <button type="submit">Save</button>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- !Pekerjaan -->
    <div class="box-card">
      <h2>Pekerjaan</h2>
      <form id="pekerjaanForm">
        <input type="text" name="pekerjaan_name" placeholder="Masukkan Pekerjaan">
        <button type="submit">Add</button>
      </form>
      <div id="message-pekerjaan"></div>
      <ul id="pekerjaanList">
        {% for pekerjaan in pekerjaans %}
        <li>
          <span class="pekerjaanName">{{ pekerjaan.name }}</span>
          <button class="editPekerjaanBtn" data-id="{{ pekerjaan._id }}">Edit</button>
          <button class="deletePekerjaanBtn" data-id="{{ pekerjaan._id }}">Delete</button>
          <form class="editPekerjaanForm" style="display: none;">
            <input type="text" name="edited_name" value="{{ pekerjaan.name }}">
            <button type="submit" class="savePekerjaanBtn" data-id="{{ pekerjaan._id }}">Save</button>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
    <h1>Question Form</h1>
    <ul>
      {% for question in questions %}
      <li>
        {{ question.question_text }}
        <button class="edit-question-btn" data-id="{{ question._id }}">Edit</button>
        <ul>
          {% for option in question.options %}
          <li>{{ option.option_text }} - Value: {{ option.value }}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <form id="questionForm">
      <label for="question_text">Question:</label>
      <input type="text" id="question_text" name="question_text" required><br><br>

      <!-- Options -->
      <div class="option">
        <label for="option1_text">Option 1:</label>
        <input type="text" id="option1_text" name="option1_text" value="Sangat Sesuai" required>
        <label for="option1_value">Value:</label>
        <input type="number" id="option1_value" name="option1_value" value="10" required><br><br>

        <label for="option2_text">Option 2:</label>
        <input type="text" id="option2_text" name="option2_text" value="Sesuai" required>
        <label for="option2_value">Value:</label>
        <input type="number" id="option2_value" name="option2_value" value="7.5" required><br><br>

        <label for="option3_text">Option 3:</label>
        <input type="text" id="option3_text" name="option3_text" value="Kurang Sesuai" required>
        <label for="option3_value">Value:</label>
        <input type="number" id="option3_value" name="option3_value" value="5" required><br><br>

        <label for="option4_text">Option 4:</label>
        <input type="text" id="option4_text" name="option4_text" value="Tidak Sesuai" required>
        <label for="option4_value">Value:</label>
        <input type="number" id="option4_value" name="option4_value" value="2.5" required><br><br>
      </div>

      <button type="submit">Submit</button>
    </form>

    <div id="message"></div>
  </div>
</body>
<!-- !Edit -->
<script>
  $(document).ready(function () {
    // Event listener untuk tombol "Edit"
    $('.edit-question-btn').click(function () {
      var questionId = $(this).data('id');

      // Kirim permintaan AJAX ke server untuk mendapatkan detail pertanyaan
      $.ajax({
        type: 'GET',
        url: '/get_question_details',
        data: { question_id: questionId },
        success: function (response) {
          // Tampilkan formulir edit dengan data pertanyaan yang diterima dari server
          $('#editQuestionForm input[name="question_text"]').val(response.question_text);
          $('#editQuestionForm').attr('action', '/edit_question/' + questionId);
          // Isi opsi pertanyaan
          for (var i = 0; i < response.options.length; i++) {
            $('#editOption' + (i + 1)).val(response.options[i].option_text);
            $('#editValue' + (i + 1)).val(response.options[i].value);
          }
          $('#editQuestionModal').modal('show'); // Tampilkan modal edit
        },
        error: function (xhr, status, error) {
          alert('Error occurred while fetching question details.');
        }
      });
    });
  });
</script>
<!-- !ADD -->
<script>
  $(document).ready(function () {
    // Submit form via AJAX
    $('#questionForm').submit(function (event) {
      event.preventDefault();
      var formData = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: '/add_question',
        data: formData,
        success: function (response) {
          $('#message').text(response.message);
          $('#questionForm')[0].reset(); // Reset form
        },
        error: function (xhr, status, error) {
          $('#message').text('Error occurred while adding question.');
        }
      });
    });
  });
</script>
<!-- Script of origin JS -->
<script>
  const sideMenu = document.querySelector('aside');
  const menuBtn = document.getElementById('menu-btn');
  const closeBtn = document.getElementById('close-btn');

  const darkMode = document.querySelector('.dark-mode');

  menuBtn.addEventListener('click', () => {
    sideMenu.style.display = 'block';
  });

  closeBtn.addEventListener('click', () => {
    sideMenu.style.display = 'none';
  });

  darkMode.addEventListener('click', () => {
    document.body.classList.toggle('dark-mode-variables');
    darkMode.querySelector('span:nth-child(1)').classList.toggle('active');
    darkMode.querySelector('span:nth-child(2)').classList.toggle('active');
  })


  Orders.forEach(order => {
    const tr = document.createElement('tr');
    const trContent = `
      <td>${order.productName}</td>
      <td>${order.productNumber}</td>
      <td>${order.paymentStatus}</td>
      <td class="${order.status === 'Declined' ? 'danger' : order.status === 'Pending' ? 'warning' : 'primary'}">${order.status}</td>
      <td class="primary">Details</td>
  `;
    tr.innerHTML = trContent;
    document.querySelector('table tbody').appendChild(tr);
  });
  // End of origin JS
</script>
<!-- Script of active sidebar -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Mengambil semua tautan di dalam sidebar
    const sidebarLinks = document.querySelectorAll('.sidebar a');

    // Menambahkan event listener untuk setiap tautan
    sidebarLinks.forEach(function (link) {
      link.addEventListener('click', function () {
        // Menghapus kelas active dari semua tautan
        sidebarLinks.forEach(function (item) {
          item.classList.remove('active');
        });

        // Menambahkan kelas active ke tautan yang diklik
        this.classList.add('active');
      });
    });
  });
</script>

</html>