<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta property="og:title"
    content="Website Survey Kepuasan Masyarakat Dinas Kependudukan dan Pencatatan Sipil Kota Semarang">
  <meta property=" og:description"
    content="Website Survey Kepuasan Masyarakat Dinas Kependudukan dan Pencatatan Sipil Kota Semarang made by ahnaf b arief" />
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Survey Kepuasan Masyarakat Dinas Kependudukan dan Pencatatan Sipil Kota Semarang</title>

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Jua&amp;display=swap" rel="stylesheet" />

  <script>
    $(document).ready(function () {
      viewing();
    });

    function viewing() {
      $.ajax({
        type: "GET",
        url: "/datadiri?sample_give=halo!",
        data: {},
        success: function (response) {
          console.log(response)
        },
      });
    }

    function hitung_skor(pertanyaan) {
      let skor = 0;
      for (let nilai of pertanyaan) {
        if (nilai == 'Sangat Sesuai' || nilai == 'Sangat Mudah' || nilai == 'Sangat Cepat' || nilai == 'Gratis' || nilai == 'Sangat Sesuai' || nilai == 'Sangat Kompeten' || nilai == 'Sangat sopan dan sangat ramah' || nilai == 'Sangat baik' || nilai == 'Dikelola dengan baik' || nilai == 'Sangat Puas') {
          skor += 10;
        } else if (nilai == 'Sesuai' || nilai == 'Mudah' || nilai == 'Cepat' || nilai == 'Murah' || nilai == 'Sesuai' || nilai == 'Kompeten' || nilai == 'Sopan dan ramah' || nilai == 'Baik' || nilai == 'Berfungsi kurang maksimal' || nilai == 'Puas') {
          skor += 7.5;
        } else if (nilai == 'Kurang Sesuai' || nilai == 'Kurang Mudah' || nilai == 'Kurang Cepat' || nilai == 'Cukup Mahal' || nilai == 'Kurang Sesuai' || nilai == 'Kurang Kompeten' || nilai == 'Kurang sopan dan kurang ramah' || nilai == 'Cukup' || nilai == 'Ada tetapi tidak berfungsi' || nilai == 'Kurang Puas') {
          skor += 5;
        } else if (nilai == 'Tidak Sesuai' || nilai == 'Tidak Mudah' || nilai == 'Tidak Cepat' || nilai == 'Sangat Mahal' || nilai == 'Tidak Sesuai' || nilai == 'Tidak Kompeten' || nilai == 'Tidak sopan dan tidak ramah' || nilai == 'Buruk' || nilai == 'Tidak ada' || nilai == 'Tidak Puas') {
          skor += 2.5;
        }
      }
      return skor;
    }

    function posting() {
      let jenisKelamin = $('input[name="kelamin_give"]:checked').val();
      let umur = $('input[name="usia_give"]:checked').val();
      let pendidikan = $('input[name="pendidikan_give"]:checked').val();
      let pekerjaan = $('input[name="pekerjaan_give"]:checked').val();
      let pekerjaanLainnya = $('#pekerjaan-lainnya-input').val();

      // Menentukan nilai pekerjaan_give tergantung pada kondisi pekerjaan
      let pekerjaanValue = pekerjaan === "Lainnya" ? pekerjaanLainnya : pekerjaan;

      // Form Pertanyaan
      let nomor1 = $('input[name="p1_give"]:checked').val();
      let nomor2 = $('input[name="p2_give"]:checked').val();
      let nomor3 = $('input[name="p3_give"]:checked').val();
      let nomor4 = $('input[name="p4_give"]:checked').val();
      let nomor5 = $('input[name="p5_give"]:checked').val();
      let nomor6 = $('input[name="p6_give"]:checked').val();
      let nomor7 = $('input[name="p7_give"]:checked').val();
      let nomor8 = $('input[name="p8_give"]:checked').val();
      let nomor9 = $('input[name="p9_give"]:checked').val();
      let nomor10 = $('input[name="p10_give"]:checked').val();

      // Form Kritik & Saran
      let boxKritik = $('#kritik').val();
      let boxSaran = $('#saran').val();

      // Jenis Layanan
      let layanan = $('input[name="layanan_give"]:checked').val();

      // Menghitung Skor
      let jawaban = [nomor1, nomor2, nomor3, nomor4, nomor5, nomor6, nomor7, nomor8, nomor9, nomor10];
      let skor = hitung_skor(jawaban);

      $.ajax({
        type: "POST",
        url: "/datadiri",
        data: {
          // Jenis Layanan
          layanan_give: layanan,

          // Profile
          kelamin_give: jenisKelamin,
          usia_give: umur,
          pendidikan_give: pendidikan,
          pekerjaan_give: pekerjaanValue,

          // Pertanyaan
          p1_give: nomor1,
          p2_give: nomor2,
          p3_give: nomor3,
          p4_give: nomor4,
          p5_give: nomor5,
          p6_give: nomor6,
          p7_give: nomor7,
          p8_give: nomor8,
          p9_give: nomor9,
          p10_give: nomor10,

          // Kritik & Saran 
          kritik: boxKritik,
          saran: boxSaran,

          // Skor
          skor: skor
        },
        success: function (response) {
          console.log(response);

          // Sembunyikan elemen-elemen formulir
          $('#skor-container').show();
          $('.container').hide();
          $('.judul-survey').hide();

          // Menampilkan skor
          $('#skor-container').text('Skor Penilaian Anda : ' + skor + '/100');

          // Menampilkan tombol "Submit"
          var button = $('<button>').addClass('btn btn-success mb-2').text('Submit');
          $('#skor-container').after(button);

          // Event handler untuk tombol "Submit"
          button.on('click', function () {
            // Tampilkan modal konfirmasi
            $('#myModal').css('display', 'block');
          });
          // Event handler untuk tombol "Yes"
          $('#yesBtn').on('click', function () {
            // Refresh halaman
            window.location.href = '/';
          })
          // Event handler untuk tombol "No"
          $('#noBtn').on('click', function () {
            // Tutup modal
            $('#myModal').hide();
          });
        },
        error: function (xhr, status, error) {
          console.error(xhr);
          console.error(status);
          console.error(error);
          // Tindakan jika terjadi kesalahan saat pengiriman AJAX
        },
      });
    }
  </script>
  <script>
    $(document).ready(function () {
      // Menambahkan event listener untuk perubahan pada radio button pekerjaan
      $('input[name="pekerjaan_give"]').change(function () {
        if ($(this).val() === 'Lainnya') {
          $('#pekerjaan-lainnya-input').prop('disabled', false);
        } else {
          $('#pekerjaan-lainnya-input').prop('disabled', true);
        }
      });
    });
  </script>
  <!-- Closed Scroll -->
  <script>
    $(document).ready(function () {
      var lastScrollTop = 0;
      $(window).scroll(function () {
        var st = $(this).scrollTop();
        if (st > lastScrollTop) {
          $('.top-image').addClass('closed');
        } else {
          $('.top-image').removeClass('closed');
        }
        lastScrollTop = st;
      });
    });
  </script>
</head>

<body>
  {% include "header.html" %}

  <!-- !Skor -->
  <div id="skor-container">
  </div>
  <!-- !Modal Apakah Anda sudah yakin? -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <p>Apakah Anda sudah yakin?</p>
      <button class="yes" id="yesBtn">YA</button>
      <button class="tidak" id="noBtn">TIDAK</button>
    </div>
  </div>
  <script>
    // Mendapatkan tombol submit
    var submitBtn = document.getElementById("submitBtn");

    // Mendapatkan modal
    var modal = document.getElementById("myModal");

    // Mendapatkan tombol untuk menutup modal
    var span = document.getElementsByClassName("close")[0];

    // Ketika tombol submit ditekan
    submitBtn.onclick = function () {
      modal.style.display = "block";
    }

    // Ketika pengguna mengklik (x), tutup modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // Ketika pengguna mengklik di luar area modal, tutup modal
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
  <div class="container">
    <p class="judul-survey">KUESIONER SURVEI KEPUASAN MASYARAKAT (SKM) <br> PADA UNIT LAYANAN DINAS KEPENDUDUKAN DAN
      PENCATATAN SIPIL KOTA SEMARANG</p>
    <hr style="margin-inline: 25vh;">
    <div class="mb-4 bg-light rounded-3 tampil-data"
      style="border: 1px solid black; margin-top: 5vh; padding-inline: 2.5vh;">
      <div class="container-fluid py-4">
        <h1 class="display-6 fw-bold">JENIS LAYANAN</h1>
        <div class="mb-3">
          <h5>Layanan</h5>
          {% for service in services %}
          <input type="radio" class="form-check-input" id="layanan-{{ service.name }}" name="layanan_give"
            value="{{ service.name }}">
          <label class="form-check-label" for="layanan-{{ service.name }}">{{ service.name }}</label><br>
          {% endfor %}
        </div>
        <hr>
        <h1 class="display-6 fw-bold">PROFIL</h1>
        <!-- Nama -->
        <!-- <div class="mb-3">
            <input type="text" class="form-control" id="nama" placeholder="Nama"/>
          </div> -->
        <div class="mb-3">
          <h5>Jenis Kelamin</h5>
          <input type="radio" class="form-check-input" id="jenis-kelamin-laki" name="kelamin_give" value="Laki-Laki">
          <label class="form-check-label" for="jenis-kelamin-laki">Laki-Laki</label>
          <input type="radio" class="form-check-input" id="jenis-kelamin-perempuan" name="kelamin_give"
            value="Perempuan">
          <label class="form-check-label" for="jenis-kelamin-perempuan">Perempuan</label>
        </div>
        <div class="mb-3">
          <!-- <label class="form-label">Usia</label><br> -->
          <h5>Usia</h5>
          <input type="radio" class="form-check-input" id="usia-17-20" name="usia_give" value="17-20">
          <label class="form-check-label" for="usia-17-20">17-20</label><br>

          <input type="radio" class="form-check-input" id="usia-21-25" name="usia_give" value="21-25">
          <label class="form-check-label" for="usia-21-25">21-25</label><br>

          <input type="radio" class="form-check-input" id="usia-26-30" name="usia_give" value="26-30">
          <label class="form-check-label" for="usia-26-30">26-30</label><br>

          <input type="radio" class="form-check-input" id="usia-31-35" name="usia_give" value="31-35">
          <label class="form-check-label" for="usia-31-35">31-35</label><br>

          <input type="radio" class="form-check-input" id="usia-36-40" name="usia_give" value="36-40">
          <label class="form-check-label" for="usia-36-40">36-40</label><br>

          <input type="radio" class="form-check-input" id="usia-41-45" name="usia_give" value="41-45">
          <label class="form-check-label" for="usia-41-45">41-45</label><br>

          <input type="radio" class="form-check-input" id="usia-46-50" name="usia_give" value="46-50">
          <label class="form-check-label" for="usia-46-50">46-50</label><br>

          <input type="radio" class="form-check-input" id="usia-51-55" name="usia_give" value="51-55">
          <label class="form-check-label" for="usia-51-55">51-55</label><br>

          <input type="radio" class="form-check-input" id="usia-56-or-more" name="usia_give" value="≥ 56">
          <label class="form-check-label" for="usia-56-or-more">≥ 56</label><br>
        </div>
        <div class="mb-3">
          <h5>Pendidikan</h5>
          <input type="radio" class="form-check-input" id="pendidikan-SD" name="pendidikan_give" value="SD">
          <label class="form-check-label" for="pendidikan-SD">SD</label><br>

          <input type="radio" class="form-check-input" id="pendidikan-SMP" name="pendidikan_give" value="SMP">
          <label class="form-check-label" for="pendidikan-SMP">SMP</label><br>

          <input type="radio" class="form-check-input" id="pendidikan-SMA" name="pendidikan_give" value="SMA">
          <label class="form-check-label" for="pendidikan-SMA">SMA</label><br>

          <input type="radio" class="form-check-input" id="pendidikan-Diploma" name="pendidikan_give" value="Diploma">
          <label class="form-check-label" for="pendidikan-Diploma">Diploma</label><br>

          <input type="radio" class="form-check-input" id="pendidikan-S1" name="pendidikan_give" value="S1">
          <label class="form-check-label" for="pendidikan-S1">S1</label><br>

          <input type="radio" class="form-check-input" id="pendidikan-S2" name="pendidikan_give" value="S2">
          <label class="form-check-label" for="pendidikan-S2">S2</label><br>

          <input type="radio" class="form-check-input" id="pendidikan-S3" name="pendidikan_give" value="S3">
          <label class="form-check-label" for="pendidikan-S3">S3</label><br>
        </div>
        <div class="mb-4">
          <h5>Pekerjaan</h5>
          <input type="radio" class="form-check-input" id="pekerjaan-PNS" name="pekerjaan_give" value="PNS">
          <label class="form-check-label" for="pekerjaan-PNS">PNS</label><br>

          <input type="radio" class="form-check-input" id="pekerjaan-TNI" name="pekerjaan_give" value="TNI">
          <label class="form-check-label" for="pekerjaan-TNI">TNI</label><br>

          <input type="radio" class="form-check-input" id="pekerjaan-POLRI" name="pekerjaan_give" value="POLRI">
          <label class="form-check-label" for="pekerjaan-POLRI">POLRI</label><br>

          <input type="radio" class="form-check-input" id="pekerjaan-SWASTA" name="pekerjaan_give" value="SWASTA">
          <label class="form-check-label" for="pekerjaan-SWASTA">SWASTA</label><br>

          <input type="radio" class="form-check-input" id="pekerjaan-WIRAUSAHA" name="pekerjaan_give" value="WIRAUSAHA">
          <label class="form-check-label" for="pekerjaan-WIRAUSAHA">WIRAUSAHA</label><br>

          <input type="radio" class="form-check-input" id="pekerjaan-Lainnya" name="pekerjaan_give" value="Lainnya">
          <label class="form-check-label" for="pekerjaan-Lainnya">Lainnya:</label>
          <input type="text" id="pekerjaan-lainnya-input" name="pekerjaan_lainnya" class="custom-text" disabled
            style="padding-left: 4px;">
        </div>
        <hr>
        <h1 class="display-6 fw-bold">Form Pertanyaan</h1>
        <div class="mb-3">
          <p>1. Bagaimana pendapat Saudara tentang kesesuaian persyaratan pelayanan dengan jenis pelayanannya?</p>
          <input type="radio" class="form-check-input" id="tidak-sesuai" name="p1_give" value="Tidak Sesuai">
          <label class="form-check-label" for="tidak-sesuai">Tidak Sesuai</label><br>

          <input type="radio" class="form-check-input" id="kurang-sesuai" name="p1_give" value="Kurang Sesuai">
          <label class="form-check-label" for="kurang-sesuai">Kurang Sesuai</label><br>

          <input type="radio" class="form-check-input" id="sesuai" name="p1_give" value="Sesuai">
          <label class="form-check-label" for="sesuai">Sesuai</label><br>

          <input type="radio" class="form-check-input" id="sangat-sesuai" name="p1_give" value="Sangat Sesuai">
          <label class="form-check-label" for="sangat-sesuai">Sangat Sesuai</label><br>

          <br>
          <p>2. Bagaimana pemahaman Saudara tentang kemudahan prosedur pelayanan di unit ini?</p>
          <input type="radio" class="form-check-input" id="tidak-mudah" name="p2_give" value="Tidak Mudah">
          <label class="form-check-label" for="tidak-mudah">Tidak mudah</label><br>

          <input type="radio" class="form-check-input" id="kurang-mudah" name="p2_give" value="Kurang Mudah">
          <label class="form-check-label" for="kurang-mudah">Kurang mudah</label><br>

          <input type="radio" class="form-check-input" id="mudah" name="p2_give" value="Mudah">
          <label class="form-check-label" for="mudah">Mudah</label><br>

          <input type="radio" class="form-check-input" id="sangat-mudah" name="p2_give" value="Sangat Mudah">
          <label class="form-check-label" for="sangat-mudah">Sangat mudah</label><br>

          <br>
          <p>3. Bagaimana pendapat Saudara tentang kecepatan waktu dalam memberikan layanan?</p>
          <input type="radio" class="form-check-input" id="tidak-cepat" name="p3_give" value="Tidak Cepat">
          <label class="form-check-label" for="tidak-cepat">Tidak cepat</label><br>

          <input type="radio" class="form-check-input" id="kurang-cepat" name="p3_give" value="Kurang Cepat">
          <label class="form-check-label" for="kurang-cepat">Kurang cepat</label><br>

          <input type="radio" class="form-check-input" id="cepat" name="p3_give" value="Cepat">
          <label class="form-check-label" for="cepat">Cepat</label><br>

          <input type="radio" class="form-check-input" id="sangat-cepat" name="p3_give" value="Sangat Cepat">
          <label class="form-check-label" for="sangat-cepat">Sangat cepat</label><br>

          <br>
          <p>4. Bagaimana pendapat Saudara tentang kewajaran biaya/tarif dalam pelayanan?</p>
          <input type="radio" class="form-check-input" id="sangat-mahal" name="p4_give" value="Sangat Mahal">
          <label class="form-check-label" for="sangat-mahal">Sangat Mahal</label><br>

          <input type="radio" class="form-check-input" id="cukup-mahal" name="p4_give" value="Cukup Mahal">
          <label class="form-check-label" for="cukup-mahal">Cukup Mahal</label><br>

          <input type="radio" class="form-check-input" id="murah" name="p4_give" value="Murah">
          <label class="form-check-label" for="murah">Murah</label><br>

          <input type="radio" class="form-check-input" id="gratis" name="p4_give" value="Gratis">
          <label class="form-check-label" for="gratis">Gratis</label><br>

          <br>
          <p>5. Bagaimana pendapat Saudara tentang kesesuaian produk pelayanan antara yang tercantum dalam standar
            pelayanan dengan hasil yang diberikan?</p>
          <input type="radio" class="form-check-input" id="tidak-sesuai-produk" name="p5_give" value="Tidak Sesuai">
          <label class="form-check-label" for="tidak-sesuai-produk">Tidak Sesuai</label><br>

          <input type="radio" class="form-check-input" id="kurang-sesuai-produk" name="p5_give" value="Kurang Sesuai">
          <label class="form-check-label" for="kurang-sesuai-produk">Kurang Sesuai</label><br>

          <input type="radio" class="form-check-input" id="sesuai-produk" name="p5_give" value="Sesuai">
          <label class="form-check-label" for="sesuai-produk">Sesuai</label><br>

          <input type="radio" class="form-check-input" id="sangat-sesuai-produk" name="p5_give" value="Sangat Sesuai">
          <label class="form-check-label" for="sangat-sesuai-produk">Sangat Sesuai</label><br>

          <br>
          <p>6. Bagaimana pendapat Saudara tentang kompetensi kemampuan petugas dalam pelayanan?</p>
          <input type="radio" class="form-check-input" id="tidak-kompeten" name="p6_give" value="Tidak Kompeten">
          <label class="form-check-label" for="tidak-kompeten">Tidak Kompeten</label><br>

          <input type="radio" class="form-check-input" id="kurang-kompeten" name="p6_give" value="Kurang Kompeten">
          <label class="form-check-label" for="kurang-kompeten">Kurang Kompeten</label><br>

          <input type="radio" class="form-check-input" id="kompeten" name="p6_give" value="Kompeten">
          <label class="form-check-label" for="kompeten">Kompeten</label><br>

          <input type="radio" class="form-check-input" id="sangat-kompeten" name="p6_give" value="Sangat Kompeten">
          <label class="form-check-label" for="sangat-kompeten">Sangat Kompeten</label><br>

          <br>
          <p>7. Bagaimana pendapat Saudara perilaku petugas dalam pelayanan terkait kesopanan dan keramahan?</p>
          <input type="radio" class="form-check-input" id="perilaku-tidak-sopan" name="p7_give"
            value="Tidak sopan dan tidak ramah">
          <label class="form-check-label" for="perilaku-tidak-sopan">Tidak sopan dan tidak ramah</label><br>

          <input type="radio" class="form-check-input" id="perilaku-kurang-sopan" name="p7_give"
            value="Kurang sopan dan kurang ramah">
          <label class="form-check-label" for="perilaku-kurang-sopan">Kurang sopan dan kurang ramah</label><br>

          <input type="radio" class="form-check-input" id="perilaku-sopan" name="p7_give" value="Sopan dan ramah">
          <label class="form-check-label" for="perilaku-sopan">Sopan dan ramah</label><br>

          <input type="radio" class="form-check-input" id="perilaku-sangat-sopan" name="p7_give"
            value="Sangat sopan dan sangat ramah">
          <label class="form-check-label" for="perilaku-sangat-sopan">Sangat sopan dan sangat ramah</label><br>

          <br>
          <p>8. Bagaimana pendapat Saudara tentang kualitas sarana dan prasarana?</p>
          <input type="radio" class="form-check-input" id="kualitas-buruk" name="p8_give" value="Buruk">
          <label class="form-check-label" for="kualitas-buruk">Buruk</label><br>

          <input type="radio" class="form-check-input" id="kualitas-cukup" name="p8_give" value="Cukup">
          <label class="form-check-label" for="kualitas-cukup">Cukup</label><br>

          <input type="radio" class="form-check-input" id="kualitas-baik" name="p8_give" value="Baik">
          <label class="form-check-label" for="kualitas-baik">Baik</label><br>

          <input type="radio" class="form-check-input" id="kualitas-sangat-baik" name="p8_give" value="Sangat baik">
          <label class="form-check-label" for="kualitas-sangat-baik">Sangat baik</label><br>

          <br>
          <p>9. Bagaimana pendapat Saudara tentang penanganan pengaduan pengguna layanan?</p>
          <input type="radio" class="form-check-input" id="pengaduan-tidak-ada" name="p9_give" value="Tidak ada">
          <label class="form-check-label" for="pengaduan-tidak-ada">Tidak ada</label><br>

          <input type="radio" class="form-check-input" id="pengaduan-ada-tidak-berfungsi" name="p9_give"
            value="Ada tetapi tidak berfungsi">
          <label class="form-check-label" for="pengaduan-ada-tidak-berfungsi">Ada tetapi tidak berfungsi</label><br>

          <input type="radio" class="form-check-input" id="pengaduan-berfungsi-kurang-maksimal" name="p9_give"
            value="Berfungsi kurang maksimal">
          <label class="form-check-label" for="pengaduan-berfungsi-kurang-maksimal">Berfungsi kurang
            maksimal</label><br>

          <input type="radio" class="form-check-input" id="pengaduan-dikelola-dengan-baik" name="p9_give"
            value="Dikelola dengan baik">
          <label class="form-check-label" for="pengaduan-dikelola-dengan-baik">Dikelola dengan baik</label><br>

          <br>
          <p>10. Bagaimana pendapat Saudara tentang tingkat kepuasan keseluruhan terhadap pelayanan yang diberikan</p>
          <input type="radio" class="form-check-input" id="tidak-puas" name="p10_give" value="Tidak Puas">
          <label class="form-check-label" for="tidak-puas">Tidak Puas</label><br>

          <input type="radio" class="form-check-input" id="kurang-puas" name="p10_give" value="Kurang Puas">
          <label class="form-check-label" for="kurang-puas">Kurang Puas</label><br>

          <input type="radio" class="form-check-input" id="puas" name="p10_give" value="Puas">
          <label class="form-check-label" for="puas">Puas</label><br>

          <input type="radio" class="form-check-input" id="sangat-puas" name="p10_give" value="Sangat Puas">
          <label class="form-check-label" for="sangat-puas">Sangat Puas</label><br>
        </div>
        <hr>
        <h2 class="display-6 fw-bold">Kritik & Saran</h2>
        <div class="mb-3">
          <h5>Kritik</h5>
          <textarea class="form-control" id="kritik" name="kritik" rows="4"></textarea>
        </div>
        <div class="mb-3">
          <h5>Saran</h5>
          <textarea class="form-control" id="saran" name="saran" rows="4"></textarea>
        </div>
        <button onclick="posting()" type="button" class="btn btn-primary mb-2">Save</button>
      </div>
    </div>
  </div>
</body>
<footer class="footer">
  <div class="container">
    <p>© 2024 | Dinas Kependudukan dan Pencatatan Sipil Kota Semarang</p>
  </div>
</footer>

</html>